:root {
  --beige: oklch(93.54% 0.032 95.41);
  --lightgreen: oklch(80% 0.062 115.51);
  --green: oklch(73% 0.11 121.23);
  --tan: oklch(64.14% 0.061 59.48);
  --brown: oklch(32% 0.045 66);

  --fixed-space: 8px;
  --logo-size: 3rem;
}

body {
  font-family: system-ui;
  background: var(--green);
  background-image: url("paper.png");
  background-size: 512px 512px;
  background-repeat: repeat;
  color: var(--brown);
}

header {
  position: fixed;
  margin-inline: var(--fixed-space);
  background-color: var(--brown);
  border-radius: calc(var(--logo-size)/2);
}

#menu {
  width: var(--logo-size);
  min-height: var(--logo-size);
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
}
#menu[aria-expanded="false"] {
  max-height: var(--logo-size);
}
#menu[aria-expanded="true"] {
  width: clamp(1rem, calc(100% - (var(--fixed-space) * 4)), 50rem);
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--logo-size);
  width: var(--logo-size);
  stroke: var(--green);
  fill: var(--brown);
  user-select: none;
  rotate: 0deg;
  transition: rotate 0.5s;
}
#logo:hover {
  stroke: var(--lightgreen);
  cursor: pointer;
}
#menu[aria-expanded="true"] #logo {
  rotate: 360deg;
}

#nav {
  display: flex;
  padding-left: var(--logo-size);
  padding-block: 0.25em;
  width: calc(100vw - (var(--fixed-space) * 4));
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
  color: var(--lightgreen);
}

#nav a {
  display: block;
  text-decoration: none;
  color: var(--lightgreen);
  margin-block: 0.25em;
  margin-inline: 0.5em;
  text-transform: lowercase;
}
#nav a:hover {
  color: var(--beige);
}

main {
  margin-top: var(--fixed-space);
}

section {
  margin-bottom: var(--fixed-space);
  padding: 0.5em;
  background-color: var(--lightgreen);
  border-radius: 0.5lh;
  max-width: 50rem;
  scroll-margin: calc(var(--logo-size) + (var(--fixed-space) * 3));
  border: 3px double var(--brown);
}

h1 {
  margin-top: 0;
  margin-left: calc(var(--logo-size) + (var(--fixed-space) * 2));
}

h2 {
  margin-top: 0;
}